<a href="https://colab.research.google.com/github/scaleracademy/BeginnersNovMon2-2022/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function
 <img src='https://www.scaler.com/topics/media/python-functions-1024x495.webp' height=350 width=500>

# Problem 1:

Write a piece of code which cooks tea 3 times.

In [1]:
#1st time
print('boil water')
print("add tea powder")
print("add sugar and add milk")
print("stir")
print("boil the mixture")
#2 nd time
print('boil water')
print("add tea powder")
print("add sugar and add milk")
print("stir")
print("boil the mixture")
#3rd time
print('boil water')
print("add tea powder")
print("add sugar and add milk")
print("stir")
print("boil the mixture")

boil water
add tea powder
add sugar and add milk
stir
boil the mixture

In [2]:
def make_tea():
  print('boil water')
  print("add tea powder")
  print("add sugar and add milk")
  print("stir")
  print("boil the mixture")

In [3]:
for i in range(3):
  make_tea()

boil water
add tea powder
add sugar and add milk
stir
boil the mixture
boil water
add tea powder
add sugar and add milk
stir
boil the mixture
boil water
add tea powder
add sugar and add milk
stir
boil the mixture

## Syntax of function:

<img src='https://k21academy.com/wp-content/uploads/2021/10/Python-Function-Syntax.png'>

#Problem 2: Greet Someone

'''
Take a name as input.
Write a greeter function which prints "Hello name!"
after accepting a name as argument.
'''

In [4]:
name = input()
print('hello',name)

ajaykumar
hello ajaykumar

In [5]:
name = input()
print('hello',name,'happy new year')

utkarsh
hello utkarsh happy new year

In [6]:
def greet(name):
  print('hello',name)
  print('happy new year!')

In [7]:
greet()

TypeError: ignored

In [8]:
def greet(name):
  print('hello',name)
  print('happy new year!')

In [9]:
greet('arpana')

hello arpana
happy new year!

In [10]:
greet('agasti')

hello agasti
happy new year!

In [11]:
#take input from user
name = input()
greet(name)

deepakkumar
hello deepakkumar
happy new year!

In [12]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [13]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Introduce Family

In [15]:
def introduce_family(father,mother,sibling):
  ''' introducing family names'''
  print("father is",father)
  print("mother is",mother)
  print("sibling is",sibling)

In [18]:
introduce_family('A','B','C')#positional arguments

father is A
mother is B
sibling is C

In [19]:
introduce_family('A','C','B')

father is A
mother is C
sibling is B

In [20]:
introduce_family('A','C')

TypeError: ignored

In [21]:
introduce_family('A','B','C','D')

TypeError: ignored

In [16]:
help(introduce_family)

Help on function introduce_family in module __main__:

introduce_family(father, mother, sibling)
    introducing family names

In [17]:
introduce_family()

TypeError: ignored

# Problem 3:
Write a function to add 2 numbers

In [22]:
def add(a,b):
  ''' this fucntion takes two arguments
  a and b & adds them'''
  print(a+b)

In [25]:
add(3.5,5.5)

9.0

In [26]:
add('hello','everyone')

helloeveryone

In [23]:
add(2,3)

5

In [28]:
add(3,5.5)

8.5

In [27]:
add(3,'hello')

TypeError: ignored

In [24]:
help(add)

Help on function add in module __main__:

add(a, b)
    this fucntion takes two arguments
    a and b & adds them

## Return
<img src="https://media.giphy.com/media/LPemN8PSiCNyXQ1wxs/giphy.gif" width="300px" />

In [29]:
def add(a,b):
  ''' this fucntion takes two arguments
  a and b & adds them'''
  print(a+b)

In [30]:
num1 = int(input())
num2 = int(input())

3
4

In [31]:
result = add(num1,num2)

7

In [32]:
print(result)

None

In [33]:
def double_amount(amount):
  double = amount*2
  print(double)

In [34]:
bank_account = double_amount(10000)
print(bank_account)

100000
None

In [35]:
def double_amount(amount):
  double = amount*2
  print(double)
  return double

In [36]:
bank_account = double_amount(10000)
print(bank_account)

20000
20000

In [40]:
def add(a,b):
  print(a+b)
  return a+b

In [41]:
result = add(3,4)
print(result+10)

7
17

In [42]:
#quiz
def add_2_nums_with_return(n1, n2):
    return n1 + n2

y = add_2_nums_with_return(5, 6)

In [43]:
print(y)

11

In [44]:
#quiz
def add_2_nums_with_return(n1, n2):
    print(n1 + n2)

y = add_2_nums_with_return(5, 6)
print(y)

11
None

In [45]:
#quiz
#What is the output of the following code?
res = addition(3, 5)
print(res)

def addition(x, y):
    return x + y

NameError: ignored

In [46]:
#quiz
#What is the output of the following code?
def foo_bar():
    # inside the function
    print('Foo')
    return 1
    print('Bar')

res = foo_bar()
print(res)

Foo
1

In [47]:
#quiz
# What is the output of the following code?
def square(x):
    return x*x

a = square(3)
b = square(5)

print(a + b)

34

In [48]:
#quiz
#What will be the output of the following Python code?
def print_max(a, b):
    if a > b:
        print(a, 'is maximum')
    elif a == b:
        print(a, 'is equal to', b)
    else:
        print(b, 'is maximum')
print_max(3, 4)

4 is maximum

#Problem 4
Write a function to convert the input temperature

 fahrenheit scale to celcius scale using the following formula 
 
 c = 5/9 *(F-32) 
 
 round the result in 2 decimal places

In [49]:
round(3.456667,3)

3.457

In [50]:
round(3.456667,2)

3.46

In [54]:
def faherenheit_to_celcius(f):
  c = 5/9 * (f-32)
  # print(round(c,2))
  # kjgjkgkj
  #kjhjkghjk
  '''uiguigujg
  nbvjhbvjh
  jhvhjv'''
  return round(c,2)

f = float(input())
celcius = faherenheit_to_celcius(f)
print(celcius)

102.54
39.19

In [55]:
#doubt
def faherenheit_to_celcius(f):
  c=5/9*(f-32)
  return round(c,2)
f=float(input())
celcius = faherenheit_to_celcius(f)
print(celcius)

104
40.0
<built-in function print>

In [56]:
def greet(name):
  print("Hello",name)
  print("Happy New Year")

In [59]:
name = input()
greet(name)

sagar
Hello sagar
Happy New Year

In [ ]:
greet(name)

In [61]:
def print_max(a, b):
    if True:
       return 0
    elif a == b:
        print(a, 'is equal to', b)
    else:
        print(b, 'is maximum')
res = print_max(3, 4)
print(res)

0

In [62]:
#What is the output of the following code?
def foo_bar():
    # inside the function
    print('Foo')
    return 0
    print('Bar')

res = foo_bar()
print(res)

Foo
0