<a href="https://colab.research.google.com/github/scaleracademy/BeginnersNovMon2-2022/blob/main/L9_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(list(range(2,5)))

[2, 3, 4]

In [4]:
print(range(2,5))

range(2, 5)

In [5]:
print(len(range(2,5)))

3

In [6]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
print(len(range(1,10)))

9

In [8]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [9]:
print(list(range(6.5))) #float is not allowed

TypeError: ignored

In [10]:
print(list(range(0)))

[]

In [11]:
print(list(range(5,5)))

[]

In [12]:
#quiz
print(len(range(11)))

11

In [14]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#question [2,3,4,5,6,7]
print(list(range(2,8)))

[2, 3, 4, 5, 6, 7]

In [16]:
print(len(range(2,8)))

6

In [17]:
print(list(range(2,9)))

[2, 3, 4, 5, 6, 7, 8]

In [18]:
print(list(range(9)))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
#quiz
print(list(range(7, 8)))

[7]

In [20]:
print(list(range(-1,10)))

[-1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
print(list(range(-3,2)))

[-3, -2, -1, 0, 1]

In [22]:
print(list(range(2,9,2)))

[2, 4, 6, 8]

In [23]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [ ]:
#quiz
# How many numbers are included in the below range?
range(1, 11, 2)

In [25]:
print(list(range(10,0,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
print(list(range(10,-5,-1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

In [27]:
print(list(range(0,10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
#quiz
# What is the output of the following code
print(list(range(-1, 11, 2)))

[-1, 1, 3, 5, 7, 9]

In [29]:
print(list(range(5,1)))

[]

In [30]:
print(list(range(5,1,-1)))

[5, 4, 3, 2]

In [ ]:
#Which of the options is NOT correct for the range: range(5, 1)?
# A
# start = 5

# B
# end = 1

# C
# increment = -1

# D
# increment = 1

## For loop

### Problem #1 : print all numbers from 1 to 5

In [31]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [32]:
for i in range(1,6):
  print(i,end=' ')

1 2 3 4 5

In [36]:
n = int(input())
for i in range(1,n+1):
  print(i,end=' ')

7
1 2 3 4 5 6 7

### Problem #2: Print the sum of all numbers from 1 to n

In [37]:
n = int(input())
total = 0
for i in range(1,n+1):
  total = total+i
print(total)

5
15

### Problem #3: Print all number from N to 1:

In [42]:
n = int(input())
for i in range(n,0,-1):
  print(i,end=' ')

5
5 4 3 2 1

In [47]:
n = int(input())
for i in range(-n,0):
  print(-1*i,end=' ')

10
10 9 8 7 6 5 4 3 2 1

In [49]:
n = 7
for i in range(1,n+1):
  print(n-i+1,end=' ')

7 6 5 4 3 2 1

In [50]:
n = int(input())
for i in range(1,n+1):
  print(n-i+1, end=' ')

10
10 9 8 7 6 5 4 3 2 1

In [61]:
n = int(input())
for i in range(1,n+1):
  print(n-i+1, end=' ')

ValueError: ignored

In [63]:
print(list(range(3,4)))

[3]

In [64]:
n=int(input())
i=2
while i<=n:
  print(i)
  i=i+2

10
2
4
6
8
10

### Problem #4: Print all number from N to 1 without changing step-size :

### Problem #5: Print all odd numbers from 1 to n:

In [51]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [53]:
n = int(input())
for i in range(1,n+1,2):
  print(i,end=' ')

15
1 3 5 7 9 11 13 15

In [54]:
#quiz
N = int(input())

for i in range(2, N):
    print(i, end=' ')

5
2 3 4

### Problem #6: Print the sum of all even numbers from 1 to n:

In [55]:
n = int(input())
total = 0
for i in range(2,n+1,2):
  total = total+i
print(total)

10
30

In [59]:
n = int(input())
total = 0
for i in range(1,n+1,2):
  total = total+i
print(total)

10
25

In [58]:
n = int(input())
# total = 0
for i in range(2,n+1,2):
  j = j+i
print(j)

10

NameError: ignored

In [60]:
n=int(input())
s=int(input()) #start.. optional if not then 0
r=int(input()) #range...optional if not given 1
for i in range(s,r):
  print(i)

5
1
6
1
2
3
4
5