<a href="https://colab.research.google.com/github/scaleracademy/BeginnersNovMon2-2022/blob/main/PatternPrinting_ProblemSolving.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pattern Printing:

<img src='https://www.techarge.in/wp-content/uploads/2021/02/55984_1580817324.png' width=500>

In [1]:
n = int(input())
for i in range(1,n+1):#rows
   #spaces
   for j in range(n-i):
     print(' ',end='')
   #stars
   for k in range(i):
     print('*',end='')  
   print()

5
    *
   **
  ***
 ****
*****

In [4]:
n = int(input())
for i in range(1,n+1):
  #spaces
  for j in range(i-1):
    print(' ',end='')
  #stars
  for k in range(n-i+1):
    print('*',end='')
  print()

5
*****
 ****
  ***
   **
    *

In [6]:
n = int(input())
for i in range(1,n+1):
  #part1- stars
  for j in range(n-i+1):
    print('*',end='')
  #part2 - spaces
  for k in range(2*(i-1)):
    print(' ',end='')
  #part3 -stars
  for j in range(n-i+1):
    print('*',end='')
  print()

4
********
***  ***
**    **
*      *

In [7]:
n = int(input())
for i in range(1,n+1):
  #part1 stars
  for j in range(i):
    print('*',end='')
  #part2 spaces
  for k in range(2*(n-i)):
    print(' ',end='')
  #part3 stars
  for l in range(i):
    print('*',end='')
  print()

4
*      *
**    **
***  ***
********

In [9]:
n = int(input())
for i in range(1,n+1):
  #part1- stars
  for j in range(n-i+1):
    print('*',end='')
  #part2 - spaces
  for k in range(2*(i-1)):
    print(' ',end='')
  #part3 -stars
  for j in range(n-i+1):
    print('*',end='')
  print()  
for i in range(2,n+1):
  #part1 stars
  for j in range(i):
    print('*',end='')
  #part2 spaces
  for k in range(2*(n-i)):
    print(' ',end='')
  #part3 stars
  for l in range(i):
    print('*',end='')
  print()

4
********
***  ***
**    **
*      *
**    **
***  ***
********

In [10]:
n = int(input())
for i in range(1,n+1):
  #part1- stars
  for j in range(n-i+1):
    print(' ',end='')
  #part2 - spaces
  for k in range(2*(i-1)):
    print('*',end='')
  #part3 -stars
  for j in range(n-i+1):
    print(' ',end='')
  print()  
for i in range(2,n+1):
  #part1 stars
  for j in range(i):
    print(' ',end='')
  #part2 spaces
  for k in range(2*(n-i)):
    print('*',end='')
  #part3 stars
  for l in range(i):
    print(' ',end='')
  print()

4

   **
  ****
 ******
  ****
   **

## Full pyramid
Problem Description

Given an integer N, print the corresponding Full Pyramid pattern for N.

For example if N = 5 then pattern will be like:

```
    * 
   * * 
  * * * 
 * * * * 
* * * * *
```


NOTE: There should be exactly one extra space after each * for each row.

In [ ]:
N = int(input())
for i in range(1,N+1):
    for j in range(N-i):
        print(' ', end = '')

    for j in range(i):
        print('* ', end = '')
    print()

5
    *
   * *
  * * *
 * * * *
* * * * *

##Problem#4: Integer in Words

Problem Description

You are given an integer A. You have to print A in word form.

Following are the words which should be replaced in place of a digit:

For digit = 0, word = zero<br>
For digit = 1, word = one<br>
For digit = 2, word = two<br>
For digit = 3, word = three<br>
For digit = 4, word = four<br>
For digit = 5, word = five<br>
For digit = 6, word = six<br>
For digit = 7, word = seven<br>
For digit = 8, word = eight<br>
For digit = 9, word = nine<br>
For eg., If A = 2634, you should print two six three four.

NOTE: Words should be seperated by a single space. Also, the output is case sensitive.

Problem Constraints
1 <= A <= 10^6

Input Format<br>
First and the only line consists of a single integer A.



Output Format<br>
Print the integer in word form on a single line.

Example Input<br>
Input 1:

 1234 <br>
Input 2:

 3 


Example Output<br>
Output 1:

 one two three four <br>
Output 2:

 three 


Example Explanation<br>
Explanation 1:

 A = 1234 can be written as "one two three four" in words.<br>
Explanation 2:<br>

 A = 3 can be written as "three" in words.

In [ ]:
A=int(input())
temp=A
digits=0
while temp > 0:
   rem = temp%10
   digits+=1
   temp=temp//10
print(digits)

In [12]:
A=int(input())
temp=A
digits=0
while temp > 0:
   digits+=1
   temp=temp//10


for i in range(1,digits+1):

  num = A // (10**(digits-i))
  
  if  num == 0:
      print("zero", end = ' ')
  elif num == 1:
      print("one", end = ' ')
  elif  num == 2:
      print("two", end = ' ')
  elif  num == 3:
      print("three", end = ' ')
  elif  num == 4:
      print("four", end = ' ')
  elif  num == 5:
      print("five", end = ' ')
  elif  num == 6:
      print("six", end = ' ')
  elif  num == 7:
      print("seven", end = ' ')
  elif  num == 8:
      print("eight", end = ' ')
  elif  num == 9:
      print("nine", end = ' ')
  A = A%(10**(digits-i))

1234
one two three four

## Problem#5:

Problem Description

Given an integer N, print the corresponding Full Numeric Pyramid pattern for N.

For example if N = 5 then pattern will be like:

0 0 0 0 1 0 0 0 0 <br>
0 0 0 2 3 2 0 0 0 <br>
0 0 3 4 5 4 3 0 0 <br>
0 4 5 6 7 6 5 4 0 <br>
5 6 7 8 9 8 7 6 5 <br>

In [11]:
n=int(input())
for i in range(1,n+1):
  #zeros in starting
  
  for j in range(n-i):
      print("0 ",end="")
  #increment 
  lim=2*i - 1
  for j in range(i,lim+1):
      print(j,end="")
      print(" ",end="")
  #decrement
  for j in range(lim-1,i-1,-1):
      print(j,end="")
      print(" ",end="")
  #same number of zeros in end
  for j in range(n-i):
      print("0 ",end="")
  print()

3
0 0 1 0 0
0 2 3 2 0
3 4 5 4 3

## Homework:

<img src='https://javainterviewpoint.com/wp-content/uploads/2019/03/Star-Pattern-Programs-In-Java-1.png'>

Exercises to follow: 

https://pynative.com/print-pattern-python-examples/

In [13]:
n = 1.3335678909

In [15]:
round(n,4)

1.3336

In [17]:
import math
math.ceil(-1.6)

-1

In [18]:
math.floor(-1.6)

-2

In [21]:
round(3.2)

3

In [ ]:
n = int(input())
for i in range(1,n+1):
    for j in range(n-i):
    #zeros in starting for j in range(n-i):
       print("0 ",end="")
    #increment
    lim=2*i - 1
    for j in range(i,lim+1):
      print(j,end="")
      print(" ",end="")
    #decrement
    for j in range(lim-1,i-1,-1):
      print(j,end="")
      print(" ",end="")
    #same number of zeros in end
    for j in range(n-i):
      print("0 ",end="")
    print()