<a href="https://colab.research.google.com/github/scaleracademy/BeginnersNovMon2-2022/blob/main/ProblemSolving5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## What will be the ouput of the following program?
```python
n = 100
ans = 0
for i in range(1,n+1):
  if i % 2:
    continue
  if i > 50:
    break
  ans += i

print(ans)
```
```
A. 5050
B. 4950
C. 650 
D. 625
```

In [2]:
n = 100
ans = 0
for i in range(1,n+1):
  if i % 2:
    continue
  if i > 50:
    break
  print(i)  
  ans += i

print(ans)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
650

## Confusing booleans
What will be the output of the following python code
```python
print(bool(False - 1))
print(bool(True - 3))
print(True + 3)
```

```
A) 
True
True
4
```
```
B) 
True
False
3
```
```
C) 
False
False
None
```
```
D) Error
```

## Same precedence
What will be the output of the following python code
```python
a = 3 ** 2 ** 0.25 ** -0.5
print(a)
```

```
a. 1.0
b. 2.828
c. 81.0 
d. Error
```

## stars II
What will be the output of the following python code?

```
n = 10
for i in range(1,n,2):
  if not n%2:
    print("*"*i)
```    



A)
```
*********
*********
*********
*********
*********
```
B)
```
*

*****

*********
```
C) 
```
*
***
*****
*******
*********
```
D)
```
None of the options
```

In [3]:
n = 10
for i in range(1,n,2):
  if not n%2:
    print("*"*i)

*
***
*****
*******
*********

In [4]:
n = 11
for i in range(1,n,2):
  if not n%2:
    print("*"*i)

In [6]:
n = 10
for i in range(1,n,2):
  if not n%2:
    print("*"*i,end='@')

*@***@*****@*******@*********@

## Magic numbe - II
If the sum of cube of digits of number is equal to the number itself then we can say that number is magical.

Write a function to return True whether given number is magical else False.

**Input format**:
```
Integer is given
```

**Output format**:
```
True if magical else False
```

**Input Sample**:
```
153
```
**Output Sample**:
```
True
```

**Sample Explanation**:
```
153 = 1^3 + 5^3 + 3^3 = 153
```

In [7]:
def magical(num):
  sum = 0
  temp = num
  while temp >0:
    rem = temp%10
    sum = sum + rem**3
    temp = temp//10
  return sum == num

In [11]:
num = int(input())
print(magical(num))

0
True

In [10]:
print(27 == 123)

False

##Pattern
For a given input integer `n` write a python function to print the pattern as follows:


**Sample Input**:
```
8
```
**Sample Output**
```
1 
2 1 
3 2 1 
4 3 2 1 
5 4 3 2 1 
6 5 4 3 2 1 
7 6 5 4 3 2 1 
```
**Sample Input**:
```
4
```
**Sample Output**
```
1 
2 1 
3 2 1 
```

In [12]:
n = int(input())
# row
for i in range(1,n):
  for j in range(i,0,-1):
    print(j,end=' ')
  print()

4
1
2 1
3 2 1

In [35]:
n = int(input())
for i in range (1,n):
  for j in range(i,0,-1):
      print(j,end=' ')
  print()

8
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1

## Dict theory III
What will be the output of the following python code?
```python
info = {
    "name": "Python",
     "father": "Charles Babbage"
}

correction = {
    "father": "Guido van Rossum",
    "DOB": "1991"
}

info.update(correction)
print(info)
```

```
A. {'name': 'Python', 'father': 'Guido van Rossum'}
B. {'name': 'Python', 'father': 'Charles Babbage', 'DOB': '1991'}
C. {'name': 'Python', 'father': 'Guido van Rossum', 'DOB': '1991'} 
D. {'name': 'Python', 'DOB': 'Guido van Rossum', 'father': '1991'}
```

## Sentence mapping
You are given an english sentence as string. Write a python program that maps ith word to the (i+1)th word of sentence. where i denotes the current word. Each word is separated by spaces.

>Note: For the last word map it to -1

**Input Sample**:
```
Hello My Name is Alpha Omega
```
**Output Sample**:
```
{'Hello': 'My', 'My': 'Name', 'Name': 'is', 'is': 'Alpha', 'Alpha': 'Omega', 'Omega': -1}
```

In [13]:
def mapping(sentence):
  new_dict = {}
  words = sentence.split()
  for i in range(len(words)):
    if i != len(words)-1:
      new_dict[words[i]] = words[i+1]
    else:
      new_dict[words[i]] = -1
  return new_dict

In [14]:
n = input()
print(mapping(n))

my name is mayank
{'my': 'name', 'name': 'is', 'is': 'mayank', 'mayank': -1}

## Intersection of lists
You are given two lists as input `A` and `B` respectively each with only unique elemets. Write python function that uses sets and try to find the elements of list `A` that are not in `B` and rerturn those elements in sorted manner within a list.

**Input Format**:
```
A: list of unique elements
B: list of unique elements
```
**Output Format**:
```
list of elemets that are in A but not in B
```
**Input Sample**:
```
[1,2,3,4,5,6,7,8,9]
[2,7,1,4]
```
**Output Sample**:
```
[3, 5, 6, 8, 9]
```

In [18]:
def intersect(A,B):
  set_a = set(A)
  set_b = set(B)
  return sorted(list(set_a - set_b))

In [17]:
A = list(map(int,input().split()))
B = list(map(int,input().split()))
print(intersect(A,B))

1 2 3 4
7 8 9
[1, 2, 3, 4]

In [25]:
lst = [5,6,8,9,7]
print(id(lst))

140694353279616

In [26]:
lst.sort()
print(id(lst))

140694353279616

In [27]:
lst

[5, 6, 7, 8, 9]

In [31]:
lst = [5,6,8,9,7]
print(id(lst))

140694213761472

In [33]:
print(id(sorted(lst)))

140694213963968

In [30]:
lst

[5, 6, 8, 9, 7]

## existential crisis
What will be the output of the following program?
```python
d = {
    'name': 'Python',
    'class': '12',
}

print(d.get("name", "C++"), end=" ")
print(d.get("Class", 30))
```

```
A. C++ 12
B. Python 30 
C. C++ 30
D. Python 12
```

In [34]:
d = {
    'name': 'Python',
    'class': '12',
}

print(d.get("name", "C++"), end=" ")
print(d.get("Class", 30))

Python 30